{% load static%}


  <!-- Package Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Awesome Packages</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/WWLI.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-secondary me-2"></i>Shai Hills</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-secondary me-2"></i>3 days</small>
                        <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> -->
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">₵1500.00</h3>
                        

                        <div class="container-fluid">
                            
                        <span><h4>Tour Packages</h4></span>

                        <ul style="text-align: center;" class="px-5">
                            <li>Transport</li> 
                            <li>Food</li>
                            <li>Drink</li>
                            <li>Accommodations</li>
                        </ul>
                        </div>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-secondary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="{% url 'booking'%}" class="btn btn-sm btn-secondary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/NAMI.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-secondary me-2"></i>Shai Hills</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-secondary me-2"></i>3 days</small>
                        <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> -->
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">₵17,179.00</h3>
                        

                        <div class="container-fluid">
                            
                        <span><h4>Tour Packages</h4></span>

                        <ul style="text-align: center;" class="px-5">
                            <li>Hotel</li> 
                            <li>Flight</li>
                            <li>Breakfast</li>
                            <li>Transfers</li>
                        </ul>
                        </div>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-secondary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="btn btn-sm btn-secondary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/NAMI.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-secondary me-2"></i>Shai Hills</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-secondary me-2"></i>3 days</small>
                        <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> -->
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">₵17,179.00</h3>
                        
                        

                        <div class="container-fluid">
                            
                        <span><h4>Tour Packages</h4></span>

                        <ul style="text-align: center;" class="px-5">
                            <li>Hotel</li> 
                            <li>Flight</li>
                            <li>Breakfast</li>
                            <li>Transfers</li>
                        </ul>
                        </div>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-secondary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="btn btn-sm btn-secondary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
<!-- Package End -->

